body {
  margin: 0;
  text-align: center;
}

/* h1{
    font-size: smaller;
} */

p {
  font-size: smaller;
}

li {
  list-style: none;
}

.footer_home {
  font-size: smaller;
}

#canvas {
  background-color: lightskyblue;
  max-width: 640px;
  width: 100%;
  height: auto;
}
