html{
    text-align: center;
    /* background-color:lightskyblue; */
}

body{
    margin: 0;
}

#canvas{
    background-color:lightskyblue;
    max-width: 640px;
    width: 100%;
    height: auto;
}